@import "../bower_components/motion-ui/motion-ui.scss";
@import "../bower_components/foundation-sites/scss/foundation";
@import "../bower_components/sass-burger/burger";
@import "../bower_components/animatewithsass/animate.scss";

/*--------------------------------

	Media queries

*/

$mq-mobile: 500px;
$mq-small: 680px;
$mq-medium: 768px;
$mq-large: 1024px;
$mq-xlarge: 1248px;
$mq-huge: 1480px;
$mq-full: 1560px;

$mq-small-height: 450px;
$mq-mobile-nav: 650px;

/*--------------------------------

  Fonts

*/

$font-text: 'fira-sans-2', sans-serif;
$font-header: 'myriad-pro', sans-serif;


/*--------------------------------

	Sizes

*/

// Typography
$s-p-large: 2.4rem;
$s-p-normal: 1.8rem;
$s-p-small: 1.6rem;
$s-p-x-small: 1.2rem;

// Heading sizes are relative to baseline font size via rems, so scale as the baseline font reduces via media queries
$s-h1: 7rem;
$s-h2: 4rem;
$s-h3: 3rem;
$s-h4: 2.4rem;
$s-h5: 1.8rem;

// Layout
$s-small-gutters: 15px;
$s-medium-gutters: 20px;
$s-large-gutters: 40px;
$s-huge-gutters: 60px;

$s-column-gutter: 4rem;
$s-page-gutter: 10px;
$s-small-fixed-header: 6.4rem;

$s-container-small: 700px;
$s-container-medium: 860px;
$s-container-large: 1024px;

// Page layout
$s-max-page-width: 960px;
$s-max-menu-width: 1340px;
$s-max-site-width: 1500px;
$s-max-image-width: 1600px;

$s-padding-small: 20px;
$s-padding-medium: 30px;
$s-padding-large: 40px;

$s-primary-nav-small: 8rem;
$s-primary-nav: 10rem;
$s-primary-nav-large: 13rem;
$s-primary-nav-offset: 2rem;
$s-primary-nav-offset-large: 4rem;

$s-radius: 1rem;

/*--------------------------------

	Numbers

*/

$n-total-columns: 12;
$n-light: 300;
$n-regular: 400;
$n-bold: 700;
$n-black: 900;

/*--------------------------------

	Z Indexes

*/

$z-primary-nav-menu-open: 7;
$z-site-menu: 6;
$z-primary-nav-static: 5;
$z-header: 4;
$z-primary-nav-fixed: 3;
$z-footer: 2;
$z-page: 1;

/*--------------------------------

	Colours

*/

$c-links: rgb(221, 65, 50);

$c-black: #06000a;
$c-white: #FFF;
$c-grey: #4d4d4f;
$c-light-grey: #f9fafb;
$c-medium-grey: #efefef;
$c-dark-grey: #313131;
$c-body-text: #3c3c3c;
$c-light-grey: #f0f0f0;
$c-new-white: #e9ece5;
/* Primary colours */
$c-green: #60c6b0;
$c-yellow: #ffee00;
$c-coral: #A03131;

$c-light-blue:#12a8e0;
$c-blue:rgb(3, 79, 132);
$c-red:rgb(221, 65, 50);
/* Social */
$c-facebook: #3c5a95;
$c-twitter: #4099ff;

/*--------------------------------

	Easing

*/

//	Cubic
$ease-in-cubic: cubic-bezier(.55, .055, .675, .19);
$ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
$ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);

//	Circ
$ease-in-circ: cubic-bezier(.6, .04, .98, .335);
$ease-out-circ: cubic-bezier(.075, .82, .165, 1);
$ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

//	Expo
$ease-in-expo: cubic-bezier(.95, .05, .795, .035);
$ease-out-expo: cubic-bezier(.19, 1, .22, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);

//	Quad
$ease-in-quad: cubic-bezier(.55, .085, .68, .53);
$ease-out-quad: cubic-bezier(.25, .46, .450, .94);
$ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);

//	Quart
$ease-in-quart: cubic-bezier(.895, .03, .685, .22);
$ease-out-quart: cubic-bezier(.165, .84, .44, 1);
$ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);

//	Quint
$ease-in-quint: cubic-bezier(.755, .05, .855, .06);
$ease-out-quint: cubic-bezier(.23, 1, .320, 1);
$ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);

//	Sine
$ease-in-sine: cubic-bezier(.47, 0, .745, .715);
$ease-out-sine: cubic-bezier(.39, .575, .565, 1);
$ease-in-out-sine: cubic-bezier(.445, .05, .55, .95);

//	Back
$ease-in-back: cubic-bezier(.6, -.28, .735, .045);
$ease-out-back: cubic-bezier(.175, .885, .32, 1.275);
$ease-in-out-back: cubic-bezier(.68, -0.55, .265, 1.55);

//	Smooth fade
$ease-smooth-fade: cubic-bezier(.365, .005, .355, 1);

/*---------------------------

    Extends

*/

.cf {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }

  .lt-ie8 & {
    zoom: 1;
  }
}

.link-style {
  color: $c-links;
  font-weight: $n-bold;
  border-bottom: 2px solid $c-white;
  text-decoration: none;

  &:hover {
    border-bottom: 2px solid $c-links;
  }
}

%unlist {
  margin: 0;
  padding: 0;
  list-style: none;
}

%hardware {
  backface-visibility: hidden;
}

%unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%antialias {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

%preserve-3d {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

%content-margins {

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}

/*--------------------------------

        Functions

*/

@function grid-calc($t, $c) {
  @return 100% / ( $t / $c );
}